
/**
 * Common background color
 */
 

 .genric-btn.primary,
 .genric-btn.primary-border:hover,
 .default-switch input + label,
 .primary-switch input:checked + label:before,
 .primary-btn,
 .exibition-area .owl-dot.active,
 .single-exibition .tags li:hover,
 .single-footer-widget .click-btn,
 .generic-banner,
 .tags-widget ul li:hover,
 .commentform-area .primary-btn,
 .single-service:hover,
 .team-area .thumb div,
 .single-price:hover .price-bottom,
 .single-price .price-bottom .primary-btn,
 .home-about-area .home-about-right .primary-btn,
 .model-area .owl-dot.active,
 .callaction-btn,
 .facts-area {
    background-color: #fab700;
 }

/**
 * Common text color
 */
 
b, 
sup, 
sub, 
u,
del,
a:hover,
.genric-btn.primary-border,
.genric-btn.primary:hover,
.ordered-list li,
.ordered-list-alpha li,
.ordered-list-roman li,
.default-select .nice-select .list .option.selected,
.default-select .nice-select .list .option:hover,
.form-select .nice-select .list .option.selected,
.form-select .nice-select .list .option:hover,
.top-head-right ul li:hover a,
.nav-menu ul li:hover > a,
#mobile-nav ul .menu-has-children i.fa-chevron-up,
#mobile-nav ul .menu-item-active,
.single-model .title h2,
.primary-btn:hover,
.primary-btn.white:hover,
.primary-btn.white:hover span,
.single-service .fa,
.single-service .lnr,
.single-service h4,
.single-blog:hover h4,
.copy-right-text i, .copy-right-text a,
.footer-social a:hover i,
.single-footer-widget .bb-btn,
.footer-text a, .footer-text i,
.single-exhibition .price,
.contact-page-area .form-area .primary-btn:hover,
.contact-page-area .single-contact-address .fa,
.contact-page-area .single-contact-address .lnr,
.single-blog-post .tags li:hover a,
.search-widget i,
.protfolio-widget ul li a i:hover,
.single-widget ul li:hover a,
.single-widget ul li:hover,
.category-widget ul li:hover h6,
.category-widget ul li:hover span,
.recent-posts-widget .single-recent-post:hover h4,
.home-about-area .home-about-right .primary-btn:hover,
.single-blog-post .tags li:first-child:after,
.contact-page-area .form-area .primary-btn:hover,
.single-feature:hover h4,
.single-blog-post a,
.single-blog-post a h1,
.sl-wrapper .fa-heart,
.single-review .star .checked,
.ui-datepicker-next span,
.ui-datepicker-prev span,
.tags li .fa,
#logo a {
  color: #fab700;
}

/**
 * Common border color
 */

.genric-btn.primary-border,
.genric-btn.primary:hover,
.generic-blockquote,
.unordered-list li:before,
.single-input-primary:focus,
#header #logo h1 a, #header #logo h1 a:hover,
.primary-btn:hover,
.contact-page-area .form-area .primary-btn:hover,
.single-widget ul li:hover,
.category-widget ul li:hover,
.commentform-area .primary-btn:hover,
.home-about-area .home-about-right .primary-btn:hover,
.callaction-btn:hover,
blockquote, 
.generic-blockquote {
  border-color: #fab700;
}